.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.workouts {
  flex: 1;
  max-height: calc(100vh - 100px); /* Adjust as needed */
  overflow-y: auto; /* Enable scrolling */
  padding-right: 10px; /* Add padding to adjust for scrollbar */
}

.workouts::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.workouts::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the scrollbar track */
}

.workouts::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the thumb */
}

.workoutForm {
  flex: 0 0 300px; /* Fixed width for form */
  margin-left: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workoutForm h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.workoutForm form {
  display: flex;
  flex-direction: column;
}

.workoutForm label {
  margin-top: 10px;
}

.workoutForm input,
.workoutForm button {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.workoutForm button {
  background-color: #20960e;
  color: white;
  border: none;
  cursor: pointer;
}

.workoutForm button:hover {
  background-color: #12c95f;
}
